<div class="header">
  <div class="header-left">
    <div class="icon-container">
      <p-image src="favicon.ico" alt="Icon" width="48" styleClass="icon"></p-image>
    </div>
    <a routerLink="/categories" class="title">DADASBUCKS</a>
  </div>

  <div class="icon-container">
    <a href="https://www.instagram.com/_anillozturk/" target="_blank" class="pi pi-instagram icon-link"></a>
    <a href="https://www.linkedin.com/in/aniloztrk67/" target="_blank" class="pi pi-linkedin icon-link"></a>
    <a href="https://github.com/aniloztrk" target="_blank" class="pi pi-github icon-link"></a>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

